{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %} {% block content %}

{% include 'navbar.html' %}
<style>
#map{
    height: 50vh;
    min-height:500px;
    min-width:100vh;
}
</style>
<body>

<div style="width: 100%; overflow: hidden;">
    <div style="width:600px; float: left;">
    {% for cafe in data %}
    <p>{{ cafe.name }}, </p>
    {% endfor %}
    </div>
    <div style="margin-left: 620px;" id="map">
    </div>
</div>
</body>
<script src="https://unpkg.com/maplibre-gl@5.0.0/dist/maplibre-gl.js">
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const map = new maplibregl.Map({
            container: 'map', // container id
            style: 'https://tiles.openfreemap.org/styles/liberty',
            center: [-118.85, 34.20], // starting position [lng, lat]
            zoom: 11.5 // starting zoom
        });
        map.on('load', () => {
        // Add GeoJSON source (you can also load from URL)
            map.addSource('locations', {
                type: 'geojson',
                data: {
                    type: 'FeatureCollection',
                    features: [
                        {
                            type: 'Feature',
                            geometry: {
                                type: 'Point',
                                coordinates: [-118.84150346378853, 34.21002705418738]   // [lng, lat]
                            },
                            properties: {
                                title: 'Five 07',
                                icon: 'monument'
                            }
                        },
                        {
                            type: 'Feature',
                            geometry: {
                                type: 'Point',
                                coordinates: [2.352, 48.856]
                            },
                            properties: {title: 'Eiffel Tower'}
                        }
                        // ... add as many as you want
                    ]
                }
            });
            map.addLayer({
                id: 'points-circle',
                type: 'circle',
                source: 'locations',
                paint: {
                  'circle-radius': 8,
                  'circle-color': '#ff5733',
                  'circle-stroke-color': 'white',
                  'circle-stroke-width': 2
                }
            });
        });
    });


</script>

{% include 'footer.html' %}

{% endblock %}