{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %} {% block content %}

{% include 'navbar.html' %}
<style>
#map{
    height: 50vh;
    min-height:500px;
    min-width:100vh;
}
</style>
<body>

<div style="width: 100%; overflow: hidden;">
    <div style="width:600px; float: left;">
    {% for cafe in data %}
    <p>{{ cafe.name }}, </p>
    {% endfor %}
    </div>
    <div style="margin-left: 620px;" id="map">
    </div>
</div>
</body>
<script src="https://unpkg.com/maplibre-gl@5.0.0/dist/maplibre-gl.js">
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const map = new maplibregl.Map({
            container: 'map', // container id
            style: 'https://tiles.openfreemap.org/styles/liberty',
            center: [-118.85, 34.20], // starting position [lng, lat]
            zoom: 11.5 // starting zoom
        });
    });
</script>

{% include 'footer.html' %}

{% endblock %}